@model TransportLogistic.Models.City

@{
    ViewData["Title"] = "Детали города";
}

<h1>Детали города</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            Регион
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Dispatcher"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Редактировать</a>
        <span> </span>
    }
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">Удалить</a>
        <span> </span>
    }
    <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
</div>