@model TransportLogistic.Models.Route

@{
    ViewData["Title"] = "Удалить маршрут";
}

<h1>Удалить маршрут</h1>

<div class="alert alert-danger">
    <h3>Вы уверены, что хотите удалить этот маршрут?</h3>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название маршрута
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            Откуда
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartNavigation.Name)
        </dd>

        <dt class="col-sm-2">
            Куда
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StopNavigation.Name)
        </dd>

        <dt class="col-sm-2">
            Расстояние
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Distance) км
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
    </form>
</div>